#title{
  position: absolute;
  top: 0; 
  left: 0%; 
}
 
#floorMap {
  position: absolute;
  top: 5%; 
  right: 0;
  width: 60%;
  height: 71%;
  overflow-y: auto;
  border: 1px solid #ccc;
}

#newMapButton{
  position: absolute;
  top: 2.5px; 
  right: 0;
}

#floorName{
  position: absolute;
  top: 5px; 
  right: 53%; 
}

#itemListContainer {
  position: absolute;
  top: 70px;
  left: 0;
  width: 39%;
  height: 80%;
  overflow-y: auto;
  border: 1px solid #ccc;
}

#itemList {
  list-style-type: none;
  padding: 0;
}

#itemInput {
  position: absolute;
  top: 79%;
  right: 40%;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
