.courseTitle{
    position: absolute;
    top: 250px; 
    left: 1%; 
    border-bottom: solid 2px #b20000;
  }

h3{
  position: absolute;
  top: 330px; 
  right: 33%;  
}

.profileTitle{
    position: absolute;
    top: 40px; 
    left: 5%; 
    border-bottom: solid 2px #b20000;
  }

.card{  
  position: absolute;
  top: 150px; 
  left: 3%;
}

.card li{  
  border-bottom: solid 1px rgb(160, 147, 147);
  padding-top: 20px;
  padding-bottom: 10px;
  letter-spacing: 0.2em;
  display: flex;
}

.textlabel{
  width: 280px;
}


.fontRight{
  position: absolute;
  top: 0px; 
  right: 0;  
 width: 45%;
 height: 100%;
 object-fit: cover;
 
}


.summaryTitle{
  position: absolute;
  top: 50px; 
  left: 3%; 
  border-bottom: solid 2px #b20000;
}

.endTitle{
  position: absolute;
  left: 20%; 
}

button{
  position: absolute;
  top: 500px; 
  left: 12%; 
}

.summarySentence{
  position: absolute;
  top: 400px; 
  left: 4%; 
  padding-top: 10px;
  letter-spacing: 0.3em;
}

.summaryCard{
  position: absolute;
  top: 230px; 
  left: 3%; 
}

.summaryCard h4{
  position: absolute;
  top: -50px; 
  left: 2%; 
}
